@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent; /* Default background color */
}

/* Thumb (the part that you can drag) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #0de1b8; /* Light green color */
  border-radius: 10px; /* Rounded edges */
}

/* Thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #8bc34a; /* Slightly darker shade of green */
}

#root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

body {
  background-color: #e2f4dd;
  margin: 0;
  padding: 0;
}

.FooterPagesHover {
  text-decoration: none;
}

.FooterPagesHover:hover {
  text-decoration: underline;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust as necessary to ensure it stays above other content */
}
